@font-face {
    font-family: 'Schoolbell';
    src: url('Schoolbell-Regular.eot');
    src: local('Schoolbell Regular'), local('Schoolbell-Regular'),
        url('Schoolbell-Regular.eot?#iefix') format('embedded-opentype'),
        url('Schoolbell-Regular.woff2') format('woff2'),
        url('Schoolbell-Regular.woff') format('woff'),
        url('Schoolbell-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

